@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
}

/* Custom Animations */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Custom Styles */
.gradient-text {
  background: linear-gradient(90deg, #0066CC 0%, #00BFB3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mySwiper .swiper-pagination {
  position: relative; /* or 'absolute' for floating effect */
  bottom: -25px;       /* push it down more or less */
  text-align: center;
}
